.brand-text {
    font-family: 'Times New Roman', Times, serif;
    font-size: 12px;
    font-weight: bold;
}

.portfolio-title {
    font-family: 'Times New Roman', Times, serif;
    font-size: 32px;
    font-weight: bold;
}

.rightsidebutton {
    position: fixed;
    right: 8px;
    top: 50%;
    transform: translateY(-50%);
    text-align: right;
}